@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root
{
    --primaryColor : #F37335;
    --yellow: #FDC830;
    --white : #FFFFFF;
    --black: #000000;
    --grey: #999999;
    --greyDisplay: #999999;
    --boxShadowOrange : #F3733544;
    --boxShadowBlack : #00000034;
    --middleGrey : #444444;
    --padsRow1 : #444444;
    --padsRow2 : #444444;
    --padsRow3 : #444444;
    
}
[data-theme="fire"]
{
    --padsRow1 : #e74c3c;
    --padsRow2 : #e67e22;
    --padsRow3 : #f1c40f;
    --greyDisplay: #F37335;
}

[data-theme="sea"]
{
    --padsRow1 : #70a1ff;
    --padsRow2 : #1e90ff;
    --padsRow3 : #5352ed;
    --greyDisplay: #3742fa;
    --yellow : #373B44;
    --primaryColor : #4286f4;
    --boxShadowOrange : #70a1ff44;
}
body
{
    background: linear-gradient(-145deg, var(--yellow), var(--primaryColor));
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

/***********

TITLE OF THE PAGE & ANIMATION

***********/

.title
{
    text-align: center;
    font-weight: 700px;
    font-size: 35px;
    text-transform: uppercase;
    color: var(--white);
    text-shadow: 5px 5px 20px var(--boxShadowOrange);
    transition: 0.5s linear;
    letter-spacing: 10px;
    cursor: pointer;
}

.title:hover
{
    letter-spacing: 20px;
    transition: 0.5s linear;
}

.container
{
    width: 960px;
    height: 500px;
    margin: 0 auto;
    background: var(--white);
    border-radius: 20px;
    box-shadow: 5px 5px 20px var(--boxShadowOrange);
    cursor: pointer;
}

/***********

Text display middle of the page

***********/
.displayText
{
    width: 300px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 3px;
    border-radius: 10px;
    background: var(--greyDisplay);
    box-shadow: 4px 4px 10px var(--boxShadowBlack);
    color: var(--white);
    display: flex;
    letter-spacing: 6px;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
    text-transform: uppercase
}

/***********

Checkbox to put the power on / off of the drum pad

***********/
.powerCheckbox
{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  padding: 0;
  border: 0;
  width: 64px;
  height: 32px;
  border-radius: 32px;
  transition: background-position 0.4s ease, background-color 0.4s ease;
  background-color: var(--grey);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIzMnB4IiBoZWlnaHQ9IjMycHgiIHZpZXdCb3g9IjAgMCAzMiAzMiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4gICAgICAgIDx0aXRsZT5PdmFsIDE0PC90aXRsZT4gICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+ICAgIDxkZWZzPjwvZGVmcz4gICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+ICAgICAgICA8Y2lyY2xlIGlkPSJPdmFsLTE0IiBmaWxsPSIjRkZGRkZGIiBjeD0iMTYiIGN5PSIxNiIgcj0iMTYiPjwvY2lyY2xlPiAgICA8L2c+PC9zdmc+');
  background-repeat: no-repeat;
  background-position: top 2px left 2px;
  background-size: 28px;
  cursor: pointer;
}

.powerCheckbox:checked
{
    background-color: var(--primaryColor);
    background-position: top 2px left 34px;
}

.powerCheckbox:focus 
{
    outline: 0;
}

/***********

Pads Container and Pads colors

***********/

.padsContainer
{
    width: 550px;
    height: 400px;
    display: flex;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    flex-wrap: wrap;
}

.box
{
    width: 110px;
    height: 110px;
    margin: 10px 10px;
    border-radius: 10px;
    font-size: 25px;
    box-shadow: 4px 4px 10px var(--boxShadowBlack) ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    transition: 0.2s ease;
}

.box:hover
{
    opacity: 0.8;
}

.pressed
{
    transition: 0.2s ease;
    border: 1px solid var(--middleGrey);
    transform: scale(1.15);
}
.pressed2
{
    transition: 0.2s ease;
    transform: scale(0.9);
}

.key1, .key2, .key3, .key4
{
    background: var(--padsRow1);
}
.key5, .key6, .key7, .key8
{
    background: var(--padsRow2);
}
.key9, .key10, .key11, .key12
{
    background: var(--padsRow3);
}

/***********

ASIDE VOLUME FEATURE 

***********/

.volumeContainer
{
    width: 150px;
    position: relative;
    top: -400px;
    left: 770px;
}
.volumeText
{
    display: flex;
    justify-content: center
}
/************

INPUT TYPE RANGE 

*************/

.range-slider {
    margin: 10px 0 0 0%;
}
.range-slider {
    width: 200px;
}
.range-slider__range {
    -webkit-appearance: none;
    width: 150px;
    height: 10px;
    border-radius: 5px;
    background: var(--padsRow3);
    outline: none;
    padding: 0;
    margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--padsRow1);
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
    background: var(--greyDisplay);
}
.range-slider__range:active::-webkit-slider-thumb {
    background: var(--greyDisplay);
}
.range-slider__range::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border: 0;
    border-radius: 50%;
    background: var(--padsRow1);
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
    background: var(--greyDisplay);
}
.range-slider__range:active::-moz-range-thumb {
    background: var(--greyDisplay);
}
.range-slider__range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px #fff, 0 0 0 6px var(--greyDisplay);
}

input::-moz-focus-inner, input::-moz-focus-outer {
    border: 0;
}

/************

NEW THEME BUTTON

************/

.newTheme
{
    width: 60px;
    height: 30px;
    background: var(--primaryColor);
    border-radius: 10px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -470px;
    color: var(--white);
    transition: 0.4s ease
}

.newTheme:hover
{
    transform: scale(1.1);
    transition: 0.4s ease
}

/************

REPLAY BUTTON

*************/

.replayButton
{
    position: relative;
    top: -450px;
    left: 3px;
    background: var(--primaryColor);
    width: 30px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease;
}
.replayButton:hover
{
    transform: scale(1.1);
    transition: 0.4s ease;
}

.repeat
{
    position: relative;
    top: -3px;
    left: -1px;
    color: var(--white);
    font-size: 40px;
}
/************

FOOTER
*************/

footer
{
    position: relative;
    top: 170px;
    border-top: 0.5px solid var(--yellow)
}
.footer
{
    margin: 10px;
    display: flex;
    justify-content: center;
    color: var(--white);
    cursor: pointer;
}

/************

RESPONSIVE

*************/
@media (max-width: 4000px) 
{
    footer
    {
        position: relative;
        top: 200px;
    }
}

@media (max-width: 1260px) 
{
    .displayText
    {
        width: 200px;
    }
    .container
    {
        width: 700px;
        height: 430px;
    }
    .box
    {
        width: 80px;
        height: 80px;
    }

    .padsContainer
    {
        width: 400px;
        height: 300px;
    }

    .volumeContainer
    {
        width: 110px;
        position: relative;
        top: -370px;
        left: 520px;
    }
    .range-slider 
    {
        width: 150px;
    }

    .range-slider__range 
    {
        width: 100px;
    }
    
    .newTheme
    {
        position: relative;
        top: -370px;
    }

    .replayButton
    {
        position: relative;
        top: -350px;
    }
    footer
    {
        position: relative;
        top: 230px;
    }
}

@media (max-width: 750px) 
{
    .displayText
    {
        width: 150px;
        height: 40px;
        font-size: 14px;
    }

    .container
    {
        width: 500px;
        height: 340px;
    }

    .box
    {
        width: 50px;
        height: 50px;
    }

    .padsContainer
    {
        width: 300px;
        height: 200px;
    }

    .volumeContainer
    {
        width: 80px;
        position: relative;
        top: -250px;
        left: 380px;
    }

    .range-slider
    {
        width: 115px;
    }
    .range-slider__range 
    {
        width: 80px;
    }

    .volumeText
    {
        font-size: 13px;
    }

    .newTheme
    {
        position: relative;
        top: -250px;
    }

    .replayButton
    {
        position: relative;
        top: -240px;
    }

    footer
    {
        position: relative;
        top: 330px;
    }
}

@media (max-width: 420px) 
{
    .powerCheckbox
    {
        width: 50px;
        height: 25px;
        background-position: top 2.5px left 2px;
        background-size: 20px;
    }
    
    .powerCheckbox:checked
    {
        background-position: top 2px left 28px;
    }

    .displayText
    {
        width: 125px;
        height: 35px;
        font-size: 10px;
    }

    .container
    {
        width: 350px;
        height: 240px;
    }

    .box
    {
        width: 40px;
        height: 40px;
    }

    .padsContainer
    {
        width: 250px;
        height: 100px;
    }

    .volumeContainer
    {
        width: 50px;
        position: relative;
        top: -150px;
        left: 250px;
    }

    .range-slider__range 
    {
        width: 60px;
    }

    .volumeText
    {
        font-size: 10px;
    }

    .newTheme
    {
        position: relative;
        width: 30px;
        height: 30px;
        top: -150px;
        left: 6px;
    }
    .themeDisplay
    {
        font-size: 12px;
    }

    .range-slider
    {
        width: 100px;
        font-size: 10px;
    }

    .replayButton
    {
        width: 25px;
        height: 25px;
        position: relative;
        top: -145px;
        left: 10px;
    }

    .repeat
    {
        position: relative;
        top: -1.5px;
        left: -1px;
        color: var(--white);
        font-size: 30px;
    }

    footer
    {
        position: relative;
        top: 310px;
    }
}

